    <div class="head">
        <header>
            <img class="img1" [src]="img1" alt="logo">
            <hr>
            <nav>
                <a routerLink="/blog">BLOG</a>
                <a routerLink="/travel">TRAVEL</a>
                <a routerLink="/lifestyle">LIFESTYLE</a>
                <a routerLink="/writting">WRITTING</a>
                <a routerLink="/about">ABOUT</a>
                <a routerLink="/contact">CONTACT</a>
            </nav>
            <hr>
            <div class="img-container">
                <img class="img2" [src]="img2" alt="femme">
                <div class="overlay-text">
                    <h3>{{ h3 }}</h3>
                    <h1>{{ h1 }}</h1>
                    <h2>{{ h2 }}</h2>
                </div>
            </div>
        </header>
    </div>

